{% extends "wrapper.html" %}
{% load static %}
{% block title %}Вход в аккаунт{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Вход пользователя</h2>
  <form class="row g-3 needs-validation" id="loginForm" method="post" novalidate>
    {% csrf_token %}
    <div class="col-md-12">
      <label for="loginEmail" class="form-label">Электронная почта</label>
      <input type="email" name="{{ form.username.name }}" class="form-control" id="loginEmail" placeholder="Введите свою почту" required>
      <div class="invalid-feedback">
        Введите корректный email.
      </div>
      <div class="valid-feedback">
        Всё хорошо!
      </div>
    </div>


    <div class="col-md-12">
      <label for="loginPassword" class="form-label">Пароль</label>
      <input type="password" name="{{ form.password.name }}" class="form-control" id="loginPassword" placeholder="Введите свой пароль" required>
      <div class="invalid-feedback">
        Введите пароль.
      </div>
      <div class="valid-feedback">
        Всё хорошо!
      </div>
    </div>


    <div class="col-12 d-flex gap-2">
      <button class="btn btn-secondary" type="submit">Войти</button>
      <a href="{% url 'registration' %}" class="btn btn-secondary">Регистрация</a>
    </div>
  </form>
</div>

<script src="{% static 'js/login.js' %}"></script>
{% endblock %}